<template>
  <div class="profile-message">
    <!-- <profile-message>
      <span slot="left">
        <img src="~assets/img/profile/message.svg" alt="">
      </span>
      <div slot="right" class="text">我的消息</div>
    </profile-message>
    <profile-message style="margin-top: 8px;">
      <span slot="left">
        <img src="~assets/img/profile/pointer.svg" alt="">
      </span>
      <div slot="right" class="text">积分商城</div>
    </profile-message>
    <profile-message style="margin-top: 8px;">
      <span slot="left">
        <img src="~assets/img/profile/vip.svg" alt="">
      </span>
      <div slot="right" class="text">会员卡</div>
    </profile-message> -->
    <!-- <div class="divider"></div> -->
    <profile-message style="margin-top: 8px;" @click.native="toEditAddress">
      <span slot="left">
        <van-icon name="location-o"/>
      </span>
      <div slot="right" class="icon-text text">我的地址</div>
    </profile-message>
    <profile-message  @click.native="toCartPage">
      <span slot="left">
        <img src="~assets/img/profile/cart.svg" alt="">
      </span>
      <div slot="right" class="text">我的购物车</div>
    </profile-message>
    <profile-message style="margin-top: 8px;" @click.native="toOrderPage">
      <span slot="left">
        <img src="~assets/img/profile/shopping.svg" alt="">
      </span>
      <div slot="right" class="text">我的订单</div>
    </profile-message>
    
  </div>
</template>

<script>
  import ProfileMessage from './ProfileMessage'
  export default {
    name: "message",
    components: {
      ProfileMessage
    },
    methods :{
      toEditAddress() {
        this.$router.replace('/address')
      },
      toOrderPage() {
        this.$router.replace('/order')
      },
      toCartPage() {
        this.$router.replace('/cart')
      }
    }
  }
</script>

<style lang="scss">
.profile-message {
  .van-icon {
    font-size: 24px;
    color: #ff8198;
  }
  .icon-text {
    position: relative;
    top: -6px;
    left: 11px;
  }
  img{
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin-right: 10px;
  }
  .text {
    display: inline-block;
    width: calc(100vw - 40px);
    padding-bottom: 10px;
    border-bottom: 1px solid #eeeeee;
  }
  .vip {
    border-bottom: 10px solid #eeeeee;
  }
  .divider {
    margin-top: 5px;
    height: 15px;
    background-color: #eeeeee;
  }
}
  
</style>
