<template>
  <div class="profile-avatar">
    <img src="~assets/img/profile/avatar.svg" alt="" class="avatar">
    <div class="center">
      <div class="login">
        <p v-if="!uname"><a href="">登录</a><a href="">/注册</a></p>
        <p style="font-size:20px;text-align: left;padding-left: 16px;" v-else>{{uname}}</p>
      </div>
      <div class="phone">
        <img src="~assets/img/profile/phone.svg" alt="">
        <span class="is-phone">暂无绑定手机</span>
      </div>
    </div>
    <div class="right" @click="toLogin">
      <van-icon name="arrow" />
    </div>
  </div>
</template>

<script>
  export default {
    name: "ProfileAvatar",
    props:{
      uname:String
      // default:""
    },
    methods: {
      toLogin() {
        this.$router.replace('/login')
      }
    }
  }
</script>

<style scoped lang="scss">
  .van-icon {
    line-height: 16px;
    &::before {
      font-size: 22px;
    }
  }
  .profile-avatar {
    display: flex;
    background-color: var(--color-tint);
    height: 90px;
    color:#fff;
    position: relative;
    /*justify-content: space-around;*/
  }
  .profile-avatar .avatar {
    width: 75px;
    height: 75px;
    padding-top: 7px;
  }
  .center {
    /*width: 60%;*/
    text-align: center;
    height: 100%;
    padding-top:15px ;
  }
  .login a {
    text-decoration: none;
    color:#fff;
    font-size: 20px;
  }
  .phone {
    position: relative;
    left: 10px;
    top:4px;
    .is-phone {
      display: inline-block;
      line-height: 25px;
    }
  }
  .phone img {
    width: 20px;
    height: 25px;
    vertical-align: bottom;

  }
  .right {
    font-size: 40px;
    position: absolute;
    right: 20px;
    top: 20px;
  }
</style>
