<template>
  <div id="brand">
      <div class="brand-top">
          <!-- 返回 + title -->
          <van-nav-bar :title="brandTitle" left-arrow  @click-left="onClickLeft">
          </van-nav-bar>
      </div>
      <div class="list-view-page">
          <router-link tag="div" :to="`/productDetails/${item.productId}`" class="list-view-page-item" v-for="(item,i) in brandList" :key="item + '-'+ i">
              <dt>
                  <img :src="item.mainImgSrc">
                  <span class="hot" v-if="item.iconImgSrc">
                      <img :src="item.iconImgSrc" alt="">
                  </span>
              </dt>
              <dd>
                  <p class="product-price">
                      <span class="price-msg">{{item.promotionDiscount}}</span>
                      <span class="price">{{item.price}}</span>
                  </p>
                  <p class="wpPrice">
                      <span>{{item.wpPrice}}</span>
                      <del>{{item.markPrice}}</del>
                      <span>{{item.discount}}</span>
                  </p>
                  <p class="product-name">{{item.productName}}</p>
              </dd>
          </router-link>
      </div>
  </div>
</template>

<script>
export default {
    name:"Brand",
    data() {
        return {
            brandList: [],
            brandTitle: ""
        }
    },
    methods: {
        // 根据id获取品牌列表数据数据
        getBrandListById() {
            this.$fetch.api_brand.getBrandListById({brandId: this.$route.params.brand_id}).then(res => {
                this.brandList = res.map;
            });
        },
        // 根据id获取品牌标题
        getBrandTitle() {
            this.$fetch.api_brand.getBrandTitle({brandId: this.$route.params.brand_id}).then(res => {
                this.brandTitle = res.map[0].title;
            });
        },
        // 点击返回回到上级页面
        onClickLeft() {
            this.$router.back()
        }
    },
    created() {
        this.getBrandListById();
        this.getBrandTitle();
    }
}
</script>

<style lang="scss">
#brand {
    padding-top: 46px;
    .list-view-page {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        background: #f3f4f5;
        padding: 0 7px;
        .list-view-page-item {
            width: 178px;
            background: #ffffff;
            border-radius: 2px;
            position: relative;
            margin-bottom: 8px;
            dt {
                img {
                    width: 178px;
                    height: 226px;
                }
                .hot {
                    position: absolute;
                    z-index: 1;
                    right: 8px;
                    top: 6px;
                    img {
                        width: 34px;
                        height: 34px;
                    }
                }
            }
            dd {
                padding: 8px;
                padding-bottom: 14px;
                .product-price {
                    .price-msg {
                        display: inline-block;
                        background: linear-gradient(270deg,#cb78dc,#de3d96);
                        width: 46px;
                        line-height: 18px;
                        color: #ffffff;
                        font-size: 12px;
                        text-align: center;
                        border-radius: 2px;
                        margin-right: 6px;
                    }
                    .price {
                        color: #222;
                        font-size: 16px;
                        line-height: 18px;
                    }
                }
                .wpPrice {
                    font-size: 12px;
                    span,
                    del {
                        display: inline-block;
                        margin-right: 6px;
                        color:#98989f;
                        margin-top: 6px;
                        margin-bottom: 10px;
                    }
                }
                .product-name {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    color: #585c64;
                    font-size: 14px;
                }
            }
        }   
    }
    .van-nav-bar {
        background: #fbfbfa;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 9999;
        .van-icon {
            color: #555;
            font-size: 20px;
        }
        .van-nav-bar__title {
            color: #000;
            font-size: 20px;
        }
    }
}
</style>