<template>
  <div class="recommend-special-sales">
    <router-link tag="div" :to="`/brand/${item.brand_id}`" v-for="item in specialList" :key="item.id" class="special-sales-item">
        <div class="sales-top">
            <img :src="item.brand_image" alt="">
        </div>
        <div class="sales-bottom">
            <div class="b-top">
                <span class="sales-title">{{item.title}}</span>
                <span class="sales-remain-days">{{item.remain_days}}</span>
            </div>
            <div class="b-bottom">
                <span class="smfont-center" v-if="item.atmosphere_text">{{item.atmosphere_text}}</span>
                <span class="rebate"><i>{{item.discount}}</i>折起</span>
                <span class="pms-text">{{item.pms_text}}</span>
            </div>
        </div>
    </router-link> 
  </div>
</template>

<script>
export default {
  data() {
      return {
          specialList:[]
      }
  },  
  methods: {
    // 获取今日特卖数据
    getRecommendSpecialSales() {
      this.$fetch.api_home.getRecommendSpecialSales().then(res => {
        this.specialList = res.map;
      });
    }
  },
  created() {
    this.getRecommendSpecialSales();
  }
};
</script>

<style lang="scss" scoped>
.recommend-special-sales {
    background: #f3f4f6;
    padding: 0 12px 0 12px;
    .special-sales-item {
        width: 100%;
        border: 1px solid rgb(232, 233, 235);
        border-radius: 6px;
        margin-bottom: 12px;
        .sales-top {
            img {
                width:100%;
                border-radius: 6px 6px 0 0;
            }
        }
        .sales-bottom {
            .b-top {
                padding: 12px;
                padding-bottom: 8px;
                display: flex;
                justify-content: space-between;
                .sales-title {
                    color: rgb(34, 34, 34);
                    font-weight: bold;
                    font-size: 14px;
                }
                .sales-remain-days {
                    color: rgb(152, 152, 159);
                    font-size: 12px;
                }
            }
            .b-bottom {
                padding: 0 12px 12px 12px;
                .smfont-center {
                    display: inline-block;
                    min-width: 60px;
                    height: 14px;
                    line-height: 14px;
                    font-size: 10px;
                    color: #ffffff;
                    background-size: 60px 14px;
                    text-align: center;
                    border-radius: 7px;
                    background: url("~assets/img/home/recommend/index/special-desc.png") 60px 14px;
                    margin-right: 4px;
                }
                .rebate {
                    display: inline-block;
                    width: 80px;
                    font-size: 12px;
                    color: rgb(88, 92, 100);
                    i {
                        font-style: normal;
                        color: rgb(222, 61, 150);
                    }
                }
                .pms-text {
                    font-size: 12px;
                    color: rgb(88, 92, 100);
                    position: relative;
                    &::before {
                        content: "|";
                        position: absolute;
                        top: -2px;
                        left: -6px;
                    }
                }
            }
        }
    }
}
</style>