<template>
  <div class="recommend-category">
    <section class="category-line">
      <a class="category-item" v-for="item in categorys1" :key="item.id" :href="item.link">
        <img :src="item.image" alt />
        <p>{{item.title}}</p>
      </a>
    </section>
    <section class="category-line">
      <a class="category-item" v-for="item in categorys2" :key="item.id" :href="item.link">
        <img :src="item.image" alt />
        <p>{{item.title}}</p>
      </a>
    </section>
  </div>
</template>

<script>
export default {
  props: {
    categorys1: {
      type: Array,
      default() {
        return [];
      }
    },
    categorys2: {
      type: Array,
      default() {
        return [];
      }
    }
  }
};
</script>
<style lang="scss" scoped>
.recommend-category {
  // 背景颜色过度
  background: linear-gradient(to bottom right, #fff3f5, #ffeef1);
  width: 100%;
  .category-line {
    display: flex;
    .category-item {
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      img {
        width: 70px;
      }
      p {
        position: absolute;
        height: 20px;
        top: 60px;
        font-size: 12px;
        color: #555;
      }
    }
  }
}
</style>