<template>
  <div class="recommend-vip">
    <a v-for="item in vipArray" :key="item.id" :href="item.link" class="vip-item">
        <img :src="item.image" alt="">
    </a>
  </div>
</template>

<script>
// 引入常量
import global_ from '../../../../common/global'

export default {
    data() {
        return {
            vipArray:[]
        }
    },
    methods:{
        // 获取分类数据
        getRecommendVip() {
            this.$fetch.api_home.getRecommendVip().then(res => {
                res.map.map(item => {
                    item.image = `${global_.baseUrl}${item.image}`
                })
                this.vipArray = res.map
            })
        }
    },
    mounted() {
        this.getRecommendVip()
    }
}
</script>

<style lang="scss" scoped>
.recommend-vip {
    overflow: hidden;
    .vip-item {
        display: flex;
        width: 33.333333333%;
    }
    .vip-item:nth-of-type(1) {
        display: flex;
        width: 100%;
        img {
            width: 100%;
        }
    }
    .vip-item:not(:first-child) {
        float: left;
        img {
            width: 100%;
        }
    }
    
}
</style>