<template>
  <div id="tabBar">
    <slot></slot>
  </div>
</template>

<script>
  export default {
    name: "TabBar"
  }
</script>

<style scoped>
  #tabBar {
    height: 48px;
    background: rgb(255, 255, 255);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    border-top: 0.5px solid rgb(221, 221, 221);
    text-align: center;
    z-index: 999;
  }
</style>
