<template>
  <div class="cart-bottom-bar">
    <div class="total-price">
        合计：￥{{totalPrice}}
    </div>
    <div class="calc" @click="toSettlement">
      去结算({{calcCount}})
    </div>
  </div>
</template>

<script>
  export default {
    name: "CartBottomBar",
    props:{
      totalPrice:{
        type:Number,
        default:0
      },
      calcCount:{
        type:Number,
        default:0
      }
    },
    methods: {
      toSettlement() {
        this.$emit('toSettlement')
      }
    }
  }
</script>

<style scoped>
  .cart-bottom-bar {
    width: 100%;
    height: 40px;
    position: fixed;
    bottom: 49px;
    background: #eeeeee;
    display: flex;
    line-height: 40px;
    text-align: center;
  }
  .total-price {
    width: 50%;
  }
  .calc {
    position: absolute;
    right: 0;
    min-width: 25%;
    background-color: #ff5028;
    color:#fff;
  }

</style>
