<template>
  <div>
      <!-- 这个组件库有点问题 1.items赋空，下面短横线会默认不见 -->
      <ly-tab class="ly-tab" v-model="lyTabOption.selectedId" :items="lyTabOption.items" :options="lyTabOption.options" @change="handleChange">
      </ly-tab>
  </div>
</template>

<script>
export default {
    data() {
        return {
            lyTabOption :{
                selectedId: 0, // 默认选择的id,0代表第一个
                items:[],
                options:{activeColor:'#ff8198'} // 选中状态时的和颜色
            },
            routerList:["/home/recommend","/home/snapup","/home/internation","/home/luxury","/home/advance","/home/beautyMakeup","/home/kids","/home/life"]
        }
    },
    methods: {
        getLytab() {
            this.$fetch.api_home.getLytab().then(res => {
                this.lyTabOption.items = res.map
            })
        },
        // 点击顶部不同tab展示不同页面
        handleChange(item,index) {
            this.$router.push(this.routerList[index])
        }
    },
    created() {
        this.getLytab()
    },
    mounted() {
        // 当页面刷新时保持tab选中当前路由对应的页面
        this.$nextTick(() => {
            this.routerList.map((item,i)=> {
                if (item === this.$route.path) {
                    this.lyTabOption.selectedId = i
                }
            })
        })
    }
}
</script>

<style lang="scss" scoped>
.ly-tab {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    background: #ffffff;
}
</style>