<template>
  <!-- 推荐模块 -->
  <div class="recommend-index">
      <!-- 轮播图部分 -->
      <recommend-swiper :banners="banners"></recommend-swiper>
      <!-- 分类部分 -->
      <div class="quality">
        <img src="~assets/img/home/recommend/index/quality.webp" alt="">
      </div>
      <recommend-category :categorys1="categorys1" :categorys2="categorys2"/>
      <!-- vip大牌日部分 -->
      <recommend-vip />
      <!-- 今日特卖部分 -->
      <div class="sepecial-sales">
        <img src="~assets/img/home/recommend/index/sepecialSales.jpg" alt="">
      </div>
      <recommend-sepecial-sales />


  </div>
</template>

<script>
// 引入常量
import global_ from '../../../common/global'

// 引入组件
import RecommendSwiper from './Recommend/RecommendSwiper'
import RecommendCategory from './Recommend/RecommendCategory'
import RecommendVip from './Recommend/RecommendVip'
import RecommendSepecialSales from './Recommend/RecommendSepecialSales'

export default {
  data() {
    return {
        banners:[], // 轮播数据
        categorys:[], // 分类数据分两组
        categorys1:[], // 分类数据组1
        categorys2:[] // 分类数据组2
    }
  },
  components: {
    RecommendSwiper,
    RecommendCategory,
    RecommendVip,
    RecommendSepecialSales
  },
  methods: {
    // 获取轮播图数据
    getRecommendSwiper() {
        this.$fetch.api_home.getRecommendSwiper().then(res => {
            res.map.map((item) => {
              item.image = `${global_.baseUrl}${item.image}`
            })
            this.banners = res.map
        })
    },
    // 获取分类数据
    getRecommendCategory() {
      this.$fetch.api_home.getRecommendCategory().then(res => {
          res.map.map(item => {
            item.image = `${global_.baseUrl}${item.image}`
          })
          this.categorys = res.map
          this.categorys.map((item,i) => {
            if (i < 5) {
                this.categorys1.push(item);
            } else {
                this.categorys2.push(item);
            }    
          })
      })
    }
  },
  created() {
    this.getRecommendSwiper()
    this.getRecommendCategory()
  }
}
</script>

<style  lang="scss" scoped>
.recommend-index {
  .quality {
    width: 100%;
    height: 35px;
    img {
      width: 100%;
    }
  }
  .sepecial-sales {
    width: 100%;
    height: 58px;
    img {
      width: 100%;
    }
  }
}
</style>