<template>
  <div id="category">
    <main-tab-bar></main-tab-bar>
    <div class="category-wrapper">
      <ul class="category-left">
        <li
          :class="{isCheck:currentIndex===i}"
          v-for="(item,i) in list"
          :key="i"
          @click="liClick(i)"
        >
          <a href="javascript:;">{{item}}</a>
        </li>
      </ul>
      <div class="category-right">
        <div class="girl-shift" v-if="currentIndex===1">
          <h2>春上新</h2>
          <div style="display:flex; margin-bottom: 20px;">
            <div class="category-item">
              <img
                src="https://a.vpimg3.com/upload/goadmin/2020/03/02/181/158312076465210080_120x120_90.jpg"
              />
              <span>连衣裙</span>
            </div>
            <div class="category-item">
              <img
                src="https://a.vpimg3.com/upload/goadmin/2019/09/11/136/15681673318895_120x120_90.jpg"
              />
              <span>T恤</span>
            </div>
            <div class="category-item">
              <img
                src="https://a.vpimg3.com/upload/goadmin/2019/09/11/123/15681676995488_120x120_90.jpg"
              />
              <span>休闲裤</span>
            </div>
          </div>
          <div style="display:flex; margin-bottom: 20px;">
            <div class="category-item">
              <img
                src="https://a.vpimg3.com/upload/goadmin/2019/09/11/131/15681674282344_120x120_90.jpg"
              />
              <span>衬衫</span>
            </div>
            <div class="category-item">
              <img
                src="https://a.vpimg3.com/upload/goadmin/2019/09/11/195/15681679299046_120x120_90.jpg"
              />
              <span>牛仔裤</span>
            </div>
            <div class="category-item">
              <img
                src="https://a.vpimg3.com/upload/goadmin/2019/09/11/33/15681682876546_120x120_90.jpg"
              />
              <span>半身裙</span>
            </div>
          </div>
          <h2>人气美衣</h2>
          <div style="display:flex; margin-bottom: 20px;">
            <div class="category-item">
              <img
                src="https://d.vpimg1.com/upcb/2019/10/18/180/ias_43b37e5f3336372bc7d869cc5d404fa6_120x120_90.png"
              />
              <span>外套</span>
            </div>
            <div class="category-item">
              <img
                src="https://a.vpimg3.com/upload/goadmin/2019/05/10/45/15574757662716_120x120_90.jpg"
              />
              <span>牛仔裤</span>
            </div>
            <div class="category-item">
              <img
                src="https://c.vpimg1.com/upcb/2019/12/26/181/ias_5033cb31c6f4bca4a9b8ea716a642d83_120x120_90.png"
              />
              <span>打底裤</span>
            </div>
          </div>
          <div style="display:flex; margin-bottom: 20px;">
            <div class="category-item">
              <img
                src="https://a.vpimg3.com/upload/goadmin/2019/09/11/131/15681674282344_120x120_90.jpg"
              />
              <span>衬衫</span>
            </div>
            <div class="category-item">
              <img
                src="https://a.vpimg3.com/upload/goadmin/2019/09/11/195/15681679299046_120x120_90.jpg"
              />
              <span>牛仔裤</span>
            </div>
            <div class="category-item">
              <img
                src="https://a.vpimg3.com/upload/goadmin/2019/09/11/33/15681682876546_120x120_90.jpg"
              />
              <span>半身裙</span>
            </div>
          </div>
          <h2>百搭上衣</h2>
          <div style="display:flex; margin-bottom: 20px;">
            <div class="category-item">
              <img
                src="https://a.vpimg3.com/upload/goadmin/2019/10/22/20/15717101185745_120x120_90.jpg"
              />
              <span>T恤</span>
            </div>
            <div class="category-item">
              <img
                src="https://a.vpimg3.com/upload/goadmin/2019/07/04/30/15622214817122_120x120_90.jpg"
              />
              <span>衬衫</span>
            </div>
            <div class="category-item">
              <img
                src="https://c.vpimg1.com/upcb/2019/10/18/138/ias_12ff35b81476d1b098053f2a7e555ac5_120x120_90.png"
              />
              <span>羊绒/羊毛衫</span>
            </div>
          </div>
          <div style="display:flex; margin-bottom: 20px;">
            <div class="category-item">
              <img
                src="https://a.vpimg3.com/upload/goadmin/2019/09/11/131/15681674282344_120x120_90.jpg"
              />
              <span>衬衫</span>
            </div>
            <div class="category-item">
              <img
                src="https://a.vpimg3.com/upload/goadmin/2019/09/11/195/15681679299046_120x120_90.jpg"
              />
              <span>牛仔裤</span>
            </div>
            <div class="category-item">
              <img
                src="https://a.vpimg3.com/upload/goadmin/2019/09/11/33/15681682876546_120x120_90.jpg"
              />
              <span>半身裙</span>
            </div>
          </div>
        </div>
        <div class="recommend" v-if="currentIndex===0">
          <h2>好物推荐</h2>
          <div style="display:flex; margin-bottom: 20px;">
            <div class="category-item">
              <img
                src="https://a.appsimg.com/upload/merchandise/pdcvis/611861/2019/1202/34/39a4a6a8-c372-46ef-85ee-27e21c1f1c2a_420_531_120x120_90.jpg!75.webp"
              />
              <span>运动休闲鞋</span>
            </div>
            <div class="category-item">
              <img
                src="https://c.vpimg1.com/upcb/2019/11/14/189/ias_1416493cd5030b9d2006aecb09147dfe_120x120_90.png"
              />
              <span>男式休闲裤</span>
            </div>
            <div class="category-item">
              <img
                src="https://a.appsimg.com/upload/merchandise/pdcvop/00101577/10001211/1211265364-1037030678738952318-50_420_531_120x120_90.jpg!75.webp"
              />
              <span>连衣裙</span>
            </div>
          </div>
          <div style="display:flex; margin-bottom: 20px;">
            <div class="category-item">
              <img
                src="https://c.vpimg1.com/upcb/2019/12/18/153/ias_3e69b24435de753517c3cd2f4f0c1441_120x120_90.png"
              />
              <span>男式T恤</span>
            </div>
            <div class="category-item">
              <img
                src="https://d.vpimg1.com/upcb/2019/11/14/75/ias_bc1c77bc6874e15a99af81adf5d7f2c7_120x120_90.png"
              />
              <span>儿童T恤/POLO衫</span>
            </div>
            <div class="category-item">
              <img
                src="https://d.vpimg1.com/upcb/2019/10/18/139/ias_6a1508360a0840c27e40466915229d78_120x120_90.png"
              />
              <span>女式T恤</span>
            </div>
          </div>
          <div style="display:flex; margin-bottom: 20px;">
            <div class="category-item">
              <img
                src="https://a.appsimg.com/upload/merchandise/pdcvis/104218/2020/0429/145/0b22897f-7947-4634-8263-c534f3215994_420_531_120x120_90.jpg!75.webp"
              />
              <span>儿童裤子</span>
            </div>
            <div class="category-item">
              <img
                src="https://a.appsimg.com/upload/merchandise/pdcvis/2020/03/11/199/5d08c925-1b39-4ba5-9303-e17cd8a6e456_420_531_120x120_90.jpg!75.webp"
              />
              <span>儿童衬衫</span>
            </div>
            <div class="category-item">
              <img
                src="https://a.appsimg.com/upload/merchandise/pdcvop/00605177/10015162/22464782-732756220833357824-50_420_531_120x120_90.jpg!75.webp"
              />
              <span>哈衣/爬服/连体服</span>
            </div>
          </div>
          <h2>品质精选</h2>
          <div style="display:flex; margin-bottom: 20px;">
            <div class="category-item">
              <img
                src="https://c.vpimg1.com/upcb/2019/11/15/163/ias_da7f7eaa752af01e482112adec4e713f_120x120_90.png"
              />
              <span>洗发护发</span>
            </div>
            <div class="category-item">
              <img
                src="https://d.vpimg1.com/upcb/2019/11/15/14/ias_dc4d013ee0a60295296fa4148e0d69d1_120x120_90.png"
              />
              <span>沙发</span>
            </div>
            <div class="category-item">
              <img
                src="https://c.vpimg1.com/upcb/2019/11/14/40/ias_bcbf1909d22e1b6ed34f729abadf31a1_120x120_90.png"
              />
              <span>餐桌餐椅</span>
            </div>
          </div>
          <div style="display:flex; margin-bottom: 20px;">
            <div class="category-item">
              <img
                src="https://a.appsimg.com/upload/merchandise/pdcvis/105209/2020/0416/121/230101e9-c0c6-4533-a18d-580e50ad155b_420_531_120x120_90.jpg!75.webp"
              />
              <span>沐浴润肤</span>
            </div>
            <div class="category-item">
              <img
                src="https://a.appsimg.com/upload/merchandise/pdcvis/603466/2019/1012/96/e995ebb9-f29c-4659-9f21-51b6f2723c2f_420_531_120x120_90.jpg!75.webp"
              />
              <span>手机通讯</span>
            </div>
            <div class="category-item">
              <img
                src="https://c.vpimg1.com/upcb/2019/11/14/175/ias_f1da7cb4306f30b7b0ad3cec56e4a031_120x120_90.png"
              />
              <span>母婴纸品</span>
            </div>
          </div>
          <div style="display:flex; margin-bottom: 20px;">
            <div class="category-item">
              <img
                src="https://d.vpimg1.com/upcb/2019/11/14/30/ias_9b37732d46b7447dbdfce73065aa373e_120x120_90.png"
              />
              <span>耳机/蓝牙耳机</span>
            </div>
            <div class="category-item">
              <img
                src="https://c.vpimg1.com/upcb/2019/11/15/60/ias_db82ab735d86ab6feb324545ba239c42_120x120_90.png"
              />
              <span>牙膏</span>
            </div>
            <div class="category-item">
              <img
                src="https://c.vpimg1.com/upcb/2019/11/27/106/ias_492a1e25461b16fcffc368d8e794899d_120x120_90.png"
              />
              <span>手足护理</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import MainTabBar from "components/content/tabbar/MainTabBar";
export default {
  name: "Category",
  components: {
    MainTabBar
  },
  data() {
    return {
      isCheck: true,
      currentIndex: 0,
      list: [
        "热门推荐",
        "潮流女装",
        "品牌男装",
        "内衣配饰",
        "家用电器",
        "电脑办公",
        "手机数码",
        "母婴频道",
        "图书",
        "家居家纺",
        "潮流女装",
        "品牌男装",
        "内衣配饰",
        "家用电器",
        "电脑办公",
        "手机数码",
        "母婴频道"
      ]
    };
  },
  methods: {
    liClick(i) {
      this.currentIndex = i;
    }
  }
};
</script>

<style scoped lang="scss">
ul {
  background-color: rgb(243, 244, 245);
  width: 96px;
}
li {
  width: 100%;
  height: 50px;
  line-height: 50px;
  list-style: none;
  text-align: center;
}

li a {
  text-decoration: none;
  color: #666;
}
.isCheck {
  background-color: #fff;
  border-left: 4px solid var(--color-tint);
}
.category-wrapper {
  display: flex;
  .category-right {
    width: calc(100vw - 96px);
    padding: 20px;
    h2 {
      font-size: 12px;
      color: #222;
      font-weight: bold;
      margin-bottom: 14px;
    }
    .category-item {
      width: 33.33%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      img {
        width: 62px;
        height: 62px;
      }
      span {
        color: #222;
        font-size: 12px;
        margin-top: 8px;
        width: 60px;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: center;
      }
    }
  }
}
</style>