<template>
  <div id="product_details">
    <div class="back" @click="toBack">
      <van-icon name="arrow-left" />
    </div>
    <details-swiper :banners="banners"></details-swiper>
    <!-- 价格及基础信息部分 -->
    <section class="price-info-wrapper">
      <div class="price-top">
        <!-- {{detailsList}} -->
        <span class="discount-price-text">折扣价</span>
        <span class="discount-price">
          {{detailsList.price}}
          <del>{{detailsList.afterPrice}}</del>
        </span>
        <div class="countdown">
          <span class="hour">19</span>
          <span class="font-label-container hour-suff suff-p" style="text-align: center;">
            <span class="label-smfont-center">:</span>
          </span>
          <span class="min">17</span>
          <span class="font-label-container min-suff suff-p" style="text-align: center;">
            <span class="label-smfont-center">:</span>
          </span>
          <span class="secound">23</span>
          <span class="font-label-container desc" style="text-align: right;">
            <span class="label-smfont-right">后结束</span>
          </span>
        </div>
      </div>
      <div class="price-bottom">{{detailsList.shopName}} | {{detailsList.productName}}</div>
      <p class="product-desc">{{detailsList.desc}}</p>
    </section>
    <div class="line"></div>
    <!-- 商品参数部分 -->
    <section class="product-parameter">
      <div class="label-wrapper">
        <span class="title">商品参数</span>
        <span class="title-desc">产地、重量、风格等</span>
      </div>
      <ul class="parameters">
        <li>
          <span class="parameter-label">地区</span>
          <span class="parameter-text">{{detailsList.area}}</span>
        </li>
        <li>
          <span class="parameter-label">样式</span>
          <span class="parameter-text">{{detailsList.style}}</span>
        </li>
        <li>
          <span class="parameter-label">使用场合</span>
          <span class="parameter-text">{{detailsList.usageOccasion}}</span>
        </li>
        <li>
          <span class="parameter-label">款式</span>
          <span class="parameter-text">{{detailsList.modal}}</span>
        </li>
        <li>
          <span class="parameter-label">厚度</span>
          <span class="parameter-text">{{detailsList.thickness}}</span>
        </li>
        <li>
          <span class="parameter-label">弹性</span>
          <span class="parameter-text">{{detailsList.elasticity}}</span>
        </li>
        <li>
          <span class="parameter-label">季节</span>
          <span class="parameter-text">{{detailsList.season}}</span>
        </li>
        <li>
          <span class="parameter-label">袖型</span>
          <span class="parameter-text">{{detailsList.sleeveType}}</span>
        </li>
        <li>
          <span class="parameter-label">衣长</span>
          <span class="parameter-text">{{detailsList.clothesLength}}</span>
        </li>
        <li>
          <span class="parameter-label">适用人群</span>
          <span class="parameter-text">{{detailsList.people}}</span>
        </li>
        <li>
          <span class="parameter-label">性别</span>
          <span class="parameter-text">{{detailsList.sex === 1 ? "男" : "女"}}</span>
        </li>
        <li>
          <span class="parameter-label">面料</span>
          <span class="parameter-text">{{detailsList.texture}}</span>
        </li>
        <li>
          <span class="parameter-label">注意事项</span>
          <span class="parameter-text">{{detailsList.washing}}</span>
        </li>
        <li>
          <span class="parameter-label">商品编号</span>
          <span class="parameter-text">{{detailsList.number}}</span>
        </li>
      </ul>
    </section>
    <div class="line"></div>
    <!-- 运费说明 -->
    <section class="freight-wrapper">
      <div class="label-wrapper">
        <span class="title">运费</span>
        <span class="title-desc">{{detailsList.freightTip}}</span>
      </div>
    </section>
    <div class="line"></div>
    <!-- 退货无忧 -->
    <section class="services-wrapper">
      <span class="service">
        <van-icon name="success" />美丽佳人发货及售后
      </span>
      <span class="service">
        <van-icon name="success" />顺丰配送
      </span>
      <span class="service">
        <van-icon name="success" />7天无理由退货
      </span>
      <span class="service">
        <van-icon name="success" />退货无忧
      </span>
      <span class="service">
        <van-icon name="success" />7天可换
      </span>
    </section>
    <div class="line"></div>
    <!-- 价格走势 -->
    <section class="price-direction">
      <div class="label-wrapper">
        <span class="title">价格走势</span>
      </div>
      <div class="price-chart">
        <img src="~assets/img/details/price-chart.png" alt width="346px" height="146ox" />
      </div>
      <span class="old-price">活动前{{detailsList.agoPrice}}</span>
      <span class="after-price">活动后{{detailsList.afterPrice}}</span>
      <span class="now-price">
        <span style="color:#e739c4;font-size:16px;font-weight:normal;">折后价</span>
        {{detailsList.price}}
      </span>
    </section>
    <div class="line"></div>
    <!-- 店铺信息 -->
    <section class="shop-wrapper">
      <div class="shop-wrapper-top">
        <img :src="shopLogo" width="60px" height="60px" />
        <div class="shop-name">
          <p>{{detailsList.shopName}}</p>
          <p>{{detailsList.shopDesc}}</p>
        </div>
        <van-button plain hairline color="#de3d96">收藏</van-button>
      </div>
      <div class="shop-wrapper-bottom">查看品牌</div>
    </section>
    <div class="line"></div>
    <!-- 图文详情 -->
    <section class="picture-wrapper">
      <div class="label-wrapper">
        <span class="title">图文详情</span>
      </div>
      <img v-for="img in pictures" :key="img" v-lazy="img" width="100%" />
    </section>
    <detail-bottom-bar @addCart="addCart" @toBuy="toBuy"></detail-bottom-bar>
  </div>
</template>

<script>
// 引入常量
import global_ from "../../common/global";
import cookie from "../../plugins/cookie";

// 引入图片懒加载
import Vue from "vue";
import { Lazyload } from "vant";
import { Toast } from "vant";

Vue.use(Toast);

// 注册时可以配置额外的选项
Vue.use(Lazyload, {
  lazyComponent: true
});

// 引入组件
import DetailsSwiper from "./childComponents/DetailsSwiper";
import DetailBottomBar from "./childComponents/DetailBottomBar";

export default {
  name: "Details",
  data() {
    return {
      detailsList: [], // 用于保存详情页面的大部分数据
      banners: [], // 轮播图数据
      pictures: [], // 缩略图数据
      shopLogo: "", // 店铺logo
      isAddress: false // 判断是否添加过地址
    };
  },
  components: {
    DetailsSwiper,
    DetailBottomBar
  },
  methods: {
    toBack() {
      this.$router.back();
    },
    getDetailsById() {
      this.$fetch.api_details
        .getBrandListById({ productId: this.$route.params.productId })
        .then(res => {
          this.detailsList = res.map[0];
          this.shopLogo = global_.baseUrl + this.detailsList.shopLogo;
          // 轮播图
          res.map[0].swiperImgs.map((item, i) => {
            res.map[0].swiperImgs[i] = global_.baseUrl + item;
          });
          this.banners = res.map[0].swiperImgs;
          //缩略图
          res.map[0].detailsImgs.map((item, i) => {
            res.map[0].detailsImgs[i] = global_.baseUrl + item;
          });
          this.pictures = res.map[0].detailsImgs;
        });
    },
    addCart() {
      let beautyId = cookie.getCookie("beautyId");
      if (beautyId) {
        // let params = {productId: `"${this.detailsList.productId}"`,cookieId:`"${beautyId}"`,productName:`"${this.detailsList.productName}"`,productPrice:`"${this.detailsList.price}"`,shopName:`"${this.detailsList.shopName}"`,img:`"${this.detailsList.swiperImgs[0]}"`}
        let params = {
          productId: `${this.detailsList.productId}`,
          cookieId: `${beautyId}`,
          productName: `"${this.detailsList.productName}"`,
          productPrice: `"${this.detailsList.price}"`,
          shopName: `"${this.detailsList.shopName}"`,
          img: `"${this.detailsList.swiperImgs[0]}"`
        };
        this.$fetch.api_cart
          .addCartList(params)
          .then(res => {
            if (res.success) {
              Toast.success(res.message);
            } else {
              Toast.fail("购买失败");
            }
          })
          .catch(() => {
            Toast.fail("购买失败");
          });
      } else {
        this.$router.replace("/login");
      }
    },
    getAddress() {
      this.$fetch.api_address
        .getAddressById({ cookieId: cookie.getCookie("beautyId") })
        .then(res => {
            if (res) {
                if (res.length !== 0) {
                    this.isAddress = true;
                }
            }
          
        });
    },
    toBuy() {
      let beautyId = cookie.getCookie("beautyId");
      if (beautyId) {
        if (this.isAddress) {
          let params = {
            productId: `${this.detailsList.productId}`,
            cookieId: `${beautyId}`,
            productName: `"${this.detailsList.productName}"`,
            productPrice: `"${this.detailsList.price}"`,
            shopName: `"${this.detailsList.shopName}"`,
            img: `"${this.detailsList.swiperImgs[0]}"`
          };
          this.$fetch.api_settlement
            .addOrderList(params)
            .then(res => {
              if (res.success) {
                Toast.success(res.message);
                this.$router.replace('/order')
              } else {
                Toast.fail("添加失败");
              }
            })
            .catch(() => {
              Toast.fail("添加失败");
            });
        } else {
          Toast.fail("请先添加地址");
          this.$router.replace('/address');
        }
      } else {
        this.$router.replace("/login");
      }
    }
  },
  created() {
    this.getAddress();
    this.getDetailsById();
  }
};
</script>

<style lang="scss" scoped>
#product_details {
  .back {
    width: 30px;
    height: 30px;
    line-height: 33px;
    background: rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 20px;
    left: 20px;
    text-align: center;
    z-index: 1;
    border-radius: 50%;
    i {
      color: #ffffff;
    }
  }
  .price-info-wrapper {
    .price-top {
      display: flex;
      padding: 10px 16px;
      .discount-price-text {
        color: #ffffff;
        padding: 0 10px;
        background-image: linear-gradient(270deg, #cb78dc, #de3d96);
        min-width: 50px;
        line-height: 24px;
        height: 24px;
        border-radius: 25px;
      }
      .discount-price {
        color: #222;
        font-size: 24px;
        margin-left: 10px;
        del {
          font-size: 16px;
          color: #98989f;
        }
      }
      .countdown {
        position: absolute;
        right: 20px;
      }
    }
    .price-bottom {
      padding: 0 16px;
    }
    .product-desc {
      padding: 10px 16px;
      color: #98989f;
      font-size: 12px;
    }
  }
  .line {
    width: 100%;
    height: 10px;
    background: #f3f4f5;
  }
  .label-wrapper {
    background-color: #fff;
    padding: 10px 16px;
    display: flex;
    .title {
      color: #222;
      line-height: 30px;
      height: 30px;
      font-weight: bold;
      font-size: 16px;
      margin-right: 14px;
      min-width: 44px;
    }
    .title-desc {
      line-height: 14px;
      height: 30px;
      padding: 8px 0;
      color: #585c64;
      font-size: 14px;
    }
  }
  .product-parameter {
    .parameters {
      li {
        display: flex;
        padding: 10px 20px;
        font-size: 14px;
        .parameter-label {
          color: #98989f;
          display: inline-block;
          min-width: 70px;
          margin-right: 16px;
        }
      }
    }
  }
  .freight-wrapper {
    padding-bottom: 10px;
  }
  .services-wrapper {
    padding: 10px 16px;
    .service {
      display: inline-block;
      font-size: 12px;
      margin-right: 10px;
      i {
        color: #de3d96;
        border: 1px solid #de3d96;
        border-radius: 50%;
        font-size: 12px;
        margin-right: 4px;
        position: relative;
        top: 1px;
      }
    }
  }
  .price-direction {
    position: relative;
    .price-chart {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .old-price {
      position: absolute;
      top: 60px;
      left: 50px;
      color: #ada5c5;
      font-size: 12px;
    }
    .after-price {
      position: absolute;
      top: 60px;
      right: 50px;
      color: #ada5c5;
      font-size: 12px;
    }
    .now-price {
      position: absolute;
      top: 164px;
      left: 140px;
      font-weight: bold;
      color: #222;
      font-size: 18px;
    }
  }
  .shop-wrapper {
    padding: 10px 16px;
    .shop-wrapper-top {
      display: flex;
      position: relative;
      img {
        border: 1px solid #e7e7e7;
        border-radius: 4px;
        margin-right: 10px;
      }
      .shop-name {
        height: 40px;
        padding: 16px 0 14px 0;
        p {
          line-height: 14px;
          font-size: 14px;
        }
        p:nth-of-type(1) {
          color: #222;
          margin-bottom: 4px;
        }
        p:nth-of-type(2) {
          color: #98989f;
        }
      }
      .van-button {
        height: 20px;
        line-height: 20px;
        font-size: 12px;
        position: absolute;
        right: 20px;
        top: 30px;
      }
    }
    .shop-wrapper-bottom {
      line-height: 50px;
      text-align: center;
      color: #585c64;
      border-top: 1px solid #f0f0f0;
      margin-top: 20px;
    }
  }
}
</style>