<template>
    <div id="home-search-top">
        <van-search v-model="searchValue" shape="round" placeholder="请输入搜索关键词" autofocus />
    </div>
</template>

<script>
export default {
    data() {
        return {
            searchValue:""
        }
    }
}
</script>

<style lang="scss">
</style>