<template>
  <div id="profile">
    <!-- 底部tab -->
    <main-tab-bar></main-tab-bar>
    <van-nav-bar title="我的档案"></van-nav-bar>
    <profile-avatar :uname="uname"></profile-avatar>
    <div class="bar">
      <money></money>
      <youhui></youhui>
      <jifen></jifen>
    </div>
    <message></message>
  </div>

</template>

<script>
  import cookie from "../../plugins/cookie"

  import ProfileAvatar from './childComs/ProfileAvatar'
  import MainTabBar from 'components/content/tabbar/MainTabBar'
  import Money from './childComs/money'
  import Youhui from './childComs/youhui'
  import Jifen from './childComs/jifen'
  import message from './childComs/message'
  export default {
    name: "Profile",
    data() {
      return {
        uname:""
      }
    },
    components: {
      ProfileAvatar,
      MainTabBar,
      Money,
      Youhui,
      Jifen,
      message
    },
    mounted () {
      let beautyId = cookie.getCookie('beautyId');
      if (beautyId) {
        this.$fetch.api_users.getUserInfoById({id: `"${beautyId}"`}).then(res => {
            this.uname = res[0].uname;
        }).catch (() => {
            console.log('系统异常');
        });
      }

    }
  }
</script>

<style lang="scss">
#profile {
 .van-nav-bar {
    background-color: var(--color-tint);
    .van-nav-bar__title {
      color: #ffffff;
      font-size: 18px;
    }
  }
  .bar {
    display: flex;
    width: 100%;
  }
}
 
</style>
