
<template>
  <div id="order">
    <van-nav-bar title="我的订单" left-arrow @click-left="onClickLeft"></van-nav-bar>
    <van-tabs v-model="active" @click="changeTab">
      <van-tab title="全部">
        <div class="order-wrapper" v-if="isOrder">
          <van-card
            :num="item.count"
            :price="item.productPrice.replace('¥','')"
            :desc="item.shopName"
            :title="item.productName"
            :thumb="item.img"
            v-for="(item,i) in orderList"
            :key="i"
          >
            <template #tags>
              <van-tag plain type="danger" style="margin-right:6px;">七天退换</van-tag>
              <van-tag plain type="danger">退货无忧</van-tag>
            </template>
          </van-card>
        </div>
        <div v-else>
          <van-empty description="订单为空" />
        </div>
      </van-tab>
      <van-tab title="待发货">
        <div class="order-wrapper" v-if="isOrder">
          <van-card
            :num="item.count"
            :price="item.productPrice.replace('¥','')"
            :desc="item.shopName"
            :title="item.productName"
            :thumb="item.img"
            v-for="(item,i) in orderList"
            :key="i"
          >
            <template #tags>
              <van-tag plain type="danger" style="margin-right:6px;">七天退换</van-tag>
              <van-tag plain type="danger">退货无忧</van-tag>
            </template>
          </van-card>
        </div>
        <div v-else>
          <van-empty description="订单为空" />
        </div>
      </van-tab>
      <van-tab title="进行中">
        <div class="order-wrapper" v-if="isOrder">
          <van-card
            :num="item.count"
            :price="item.productPrice.replace('¥','')"
            :desc="item.shopName"
            :title="item.productName"
            :thumb="item.img"
            v-for="(item,i) in orderList"
            :key="i"
          >
            <template #tags>
              <van-tag plain type="danger" style="margin-right:6px;">七天退换</van-tag>
              <van-tag plain type="danger">退货无忧</van-tag>
            </template>
          </van-card>
        </div>
        <div v-else>
          <van-empty description="订单为空" />
        </div>
      </van-tab>
      <van-tab title="已完成">
        <div class="order-wrapper" v-if="isOrder">
          <van-card
            :num="item.count"
            :price="item.productPrice.replace('¥','')"
            :desc="item.shopName"
            :title="item.productName"
            :thumb="item.img"
            v-for="(item,i) in orderList"
            :key="i"
          >
            <template #tags>
              <van-tag plain type="danger" style="margin-right:6px;">七天退换</van-tag>
              <van-tag plain type="danger">退货无忧</van-tag>
            </template>
          </van-card>
        </div>
        <div v-else>
          <van-empty description="订单为空" />
        </div>
      </van-tab>
    </van-tabs>
  </div>
</template>

<script>
/* eslint-disable */
import cookie from "../../plugins/cookie";

import Vue from "vue";
import { Empty } from "vant";
Vue.use(Empty);

export default {
  name:"Order",
  data() {
    return {
      active: 0,
      orderList: [],
      isOrder:false
    };
  },
  methods: {
    onClickLeft() {
      this.$router.replace("/profile");
    },
    changeTab(name, title) {
      this.getOrderList(name);
    },
    getOrderList(type) {
      let params;
      let beautyId = cookie.getCookie("beautyId");
      if (type) {
        params = { type: `${type}`, cookieId: `${beautyId}` };
      } else {
        params = { cookieId: `${beautyId}` };
      }
      this.$fetch.api_settlement
        .getOrderList(params)
        .then(res => {
            if(res) {
                this.orderList = res;
                if (res.length !== 0) {
                    this.isOrder = true;
                } else {
                    this.isOrder = false;
                }
            }
            
        })
        .catch(() => {});
    }
  },
  created() {
    this.getOrderList();
  }
};
</script>

<style lang="scss">
#order {
  .order-wrapper {
    height: calc(100vh - 90px);
    overflow: scroll;
  }
  .van-tabs__line {
    background-color: #ff8198;
  }
  .van-tabs {
    position: fixed;
    top: 46px;
    width: 100%;
  }
  .van-nav-bar {
    background: #fbfbfa;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    .van-icon {
      color: #555;
      font-size: 20px;
    }
    .van-nav-bar__title {
      color: #000;
      font-size: 20px;
    }
  }
}
</style>