<template>
  <div id="address">
    <van-nav-bar title="地址管理" left-arrow @click-left="onClickLeft"></van-nav-bar>
    <van-address-edit
      :area-list="areaList"
      :address-info="AddressInfo"
      show-postal
      show-search-result
      :search-result="searchResult"
      :area-columns-placeholder="['请选择', '请选择', '请选择']"
      @save="onSave"
      v-if="showForm"
    />
    <div class="address-wrapper" v-else>
      <ul>
        <li>
          <span class="label">姓名</span>
          <span class="content">{{addressInfo.name}}</span>
        </li>
        <li>
          <span class="label">电话</span>
          <span class="content">{{addressInfo.tel}}</span>
        </li>
        <li>
          <span class="label">地址</span>
          <span class="content">{{addressInfo.fullAddress}}</span>
        </li>
        <li>
          <span class="label">邮政编码</span>
          <span class="content">{{addressInfo.postalCode}}</span>
        </li>
        <div class="btn-wrapper" @click="editAddress">
          <van-button round block type="info" color="#e4007f">管理我的地址</van-button>
        </div>
      </ul>
    </div>
  </div>
</template>

<script>
import areaList from "./area.js";
import cookie from "../../plugins/cookie";

import Vue from "vue";
import { AddressEdit } from "vant";
import { Toast } from "vant";
Vue.use(AddressEdit);
Vue.use(Toast);

export default {
  name:"Address",
  data() {
    return {
      areaList,
      searchResult: [],
      AddressInfo: {},
      showForm: true,
      addressInfo: {}
    };
  },
  methods: {
    // 点击返回回到上级页面
    onClickLeft() {
      this.$router.replace("/profile");
    },
    editAddress() {
      this.showForm = true;
    },
    getAddress() {
      this.$fetch.api_address
        .getAddressById({ cookieId: cookie.getCookie("beautyId") })
        .then(res => {
          if (res) {
            this.showForm = false;
            this.addressInfo = res[0];
            this.AddressInfo = this.addressInfo;
          }
        });
    },
    onSave(values) {
      let fullAddress =
        values.province + values.city + values.county + values.addressDetail;
      this.$fetch.api_address
        .setAddressById({
          cookieId: cookie.getCookie("beautyId"),
          name: `"${values.name}"`,
          tel: `"${values.tel}"`,
          postalCode: `"${values.postalCode}"`,
          fullAddress: `"${fullAddress}"`
        })
        .then(res => {
          if (res) {
            if (res.success) {
              Toast.success("地址添加成功");
              this.showForm = false;
              this.getAddress();
            }
          }
        });
    }
  },
  created() {
    this.getAddress();
  }
};
</script>

<style lang="scss">
#address {
  padding-top: 46px;
  .van-nav-bar {
    background: #fbfbfa;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    .van-icon {
      color: #555;
      font-size: 20px;
    }
    .van-nav-bar__title {
      color: #000;
      font-size: 20px;
    }
  }
  .van-address-edit__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    .van-button {
      width: 50%;
      height: 40px;
      line-height: 40px;
      background: rgb(228, 0, 127);
    }
  }
  .address-wrapper {
    width: 100%;
    padding: 20px;
    li {
      margin-bottom: 30px;
      .label {
        color: #98989f;
        margin-right: 10px;
      }
      .content {
        color: #222;
      }
    }
    .btn-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      .van-button {
        width: 50%;
        height: 40px;
        line-height: 40px;
      }
    }
  }
}
</style>