<template>
  <van-swipe :autoplay="3000" indicator-color="white" class="vanSwiper details-swiper">
    <!-- 轮播图部分 -->
    <van-swipe-item v-for="(item,i) in banners" :key="i">
      <a>
        <img :src="item" alt="" @load="imageLoad">
      </a>
    </van-swipe-item>
  </van-swipe>
</template>

<script>
  import Vue from 'vue';
  import { Swipe, SwipeItem } from 'vant';
  import 'vant/lib/index.css';

  Vue.use(Swipe).use(SwipeItem);

  export default {
    props:{
      banners:Array,
      default () {
        return []
      }
    },
    methods :{
      imageLoad(){
        // this.$emit('imageLoad')
      }
    }
  }
</script>

<style lang="scss" scoped>
.details-swiper {
  img {
    width: 100%;
  }
}
</style>
