<template>
  <div class="detail-bottom-bar">
    <div class="left">
      <div>
        <i class="icon service"></i>
        <span class="text"> <a href="http://wpa.qq.com/msgrd?v=3&uin=1205512315&site=qq&menu=yes" style="color:#666" target="_blank">客服</a></span>
      </div>
      <div>
        <i class="icon shop"></i>
        <span class="text">店铺</span>
      </div>
      <div>
        <i class="icon select"></i>
        <span class="text">收藏</span>
      </div>
    </div>
    <div class="right">
      <div class="cart" @click="addCart">加入购物车</div>
      <div class="buy" @click="toBuy">购买</div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "DetailBottomBar",
    methods: {
      addCart() {
        this.$emit('addCart')
      },
      toBuy() {
        this.$emit('toBuy')
      },
      toTalk () {
        window.location.href = "http://wpa.qq.com/msgrd?v=3&uin=1479821872&site=qq&menu=yes";
      }
    }
  }
</script>

<style lang="scss" scoped>
  .detail-bottom-bar {
    background-color: #fff;
    height: 54px;
    position: fixed;
    bottom: -1px;
    left: 0;
    right: 0;
    display: flex;
    text-align: center;
  }
  .left {
    width: 50%;
    div {
      width: 33.333%;
    }
  }
  .left,.right {
    display: flex;
  }
  .left .icon {
    display: block;
    width: 24px;
    height: 24px;
    margin: 6px 21px 3px;
    background:url('~assets/img/details/detail_bottom.png') 0 0/100%;
  }
  .left .shop {
    background-position: 0 57px;
  }
  .left .service {
    background-position: 0 107px;
  }
  .text {
    font-size: 14px;
  }
  .cart {
    height: 54px;
    width: 94px;
    background-color: #fff737;
    text-align: center;
    color:#666;
    font-size: 16px;
    line-height: 54px;
  }
  .buy {
    height: 54px;
    width: 94px;
    background-color: var(--color-tint);
    text-align: center;
    color:#fff;
    font-size:16px;
    line-height: 54px;
  }
</style>
