<template>
  <div id="home">
    <main-tab-bar></main-tab-bar>
    <ly-tab>
    </ly-tab>
    <router-view />
  </div>
</template>

<script>

import MainTabBar from 'components/content/tabbar/MainTabBar'
import LyTab from "./childComponents/LyTab"
export default {
  name:"Home",
  data() {
    return {
      keepPath:""
    }
  },
  components: {
    MainTabBar,
    LyTab
  },
  // 保障下次回到首页时保持原有的状态  keep-alive +  导航守卫 + activated钩子函数（keep-alive的组件进入时触发）
  activated() {
    this.$router.push(this.keepPath)
  },
  beforeRouteLeave (to, from, next) {
    // 导航守卫 beforeRouteLeave离开该组件前触发
    this.keepPath = this.$route.path;
    next();
  }
}
</script>

<style lang="scss" scoped>
#home {
  padding-top: 45px;
  padding-bottom: 48px;
}
</style>