<template>
  <div id="app">
    <keep-alive exclude="Brand,Profile,Details,Cart,Address,Order">
      <router-view />
    </keep-alive>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style>
  @import "assets/css/base.css";
</style>
