<template>
  <div id="login">
    <div class="login-bg">
      <img src="~assets/img/login/login-logo.png" alt srcset width="500px" />
      <div class="back" @click="toProfile">
         <van-icon name="arrow-left" />
      </div>
    </div>
    <van-form @submit="onSubmit">
      <van-field
        v-model="username"
        name="uname"
        label="用户名"
        placeholder="用户名"
        :rules="[{ required: true, message: '请填写用户名' }]"
      />
      <van-field
        v-model="password"
        type="password"
        name="password"
        label="密码"
        placeholder="密码"
        :rules="[{ required: true, message: '请填写密码' }]"
      />
      <div class="btn-wrapper">
        <van-button
          round
          block
          type="info"
          native-type="submit"
          color="#e4007f"
          :disabled="disabled"
        >登录</van-button>
      </div>
    </van-form>
    <van-checkbox v-model="checked" checked-color="#07c160" shape="square">
      <p class="label">同意：</p>
      <div class="protocols">
        <span class="protocol">《美丽佳人服务条款》</span>
        <span class="protocol">《隐私条款》</span>
        <span class="protocol">《佳人支付用户服务协议》</span>
      </div>
    </van-checkbox>
    <!-- 立即注册 -->
    <div class="register-btn">
        <van-button color="#e4007f" to="/register" round plain>立即注册</van-button>
    </div>
  </div>
</template>

<script>
import Vue from 'vue';
import { Toast } from 'vant';

import cookie from "../../plugins/cookie"

Vue.use(Toast);
export default {
  data() {
    return {
      username: "",
      password: "",
      checked: true
    };
  },
  computed: {
    disabled() {
        if (this.username && this.password) {
            return false;
        } else {
            return true;
        }
    }
  },
  methods: {
    onSubmit(values) {
        // 登录
        this.$fetch.api_users.loginByPassword({uname: `"${values.uname}"`,password:`"${values.password}"`}).then(res => {
            if (res.success) {
                Toast.success('登录成功');
                // 将用户唯一id存入cookie
                cookie.setCookie('beautyId',res.data[0].id,1);
                // 跳转到首页
                this.$router.replace('/');
            } else {
                Toast.fail(res.message);
            }
        }).catch (() => {
            Toast.fail('系统异常');
        });
    },
    toProfile () {
        this.$router.replace('/profile')
    }
  }
};
</script>

<style lang="scss">
#login {
  .login-bg {
    background: url("~assets/img/login/login-bg.jpg");
    width: 100%;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btn-wrapper {
    padding: 30px;
    border-bottom: 1px solid #dbdbdb;
  }
  .van-checkbox {
      padding: 20px 10px;
      font-size: 14px;
      .van-checkbox__label {
          display: flex;
          .label {
            width: 80px;
            line-height: 40px;
          }
          .protocols {
            padding: 0 20px 0 0;
            .protocol {
                color:#0079ff;
            }
          }
          
      }
  }
  .register-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 80px;
      .van-button {
          width:150px;
          height: 34px;
          line-height: 30px;
      }
  }
  .back {
    width: 30px;
    height: 30px;
    line-height: 33px;
    background: rgba(0,0,0,0.1);
    position: absolute;
    top: 20px;
    left: 20px;
    text-align: center;
    border-radius: 50%;
    i {
        color: #ffffff;
    }
  }
}
</style>