<template>
  <div id="cart">
    <main-tab-bar></main-tab-bar>
    <van-nav-bar title="购物车" />
    <div class="cart-wrapper" v-if="isCart" :key="count">
      <p class="title" v-if="isCart">精品特卖</p>
      <van-card
        :num="item.count"
        :price="item.productPrice.replace('¥','')"
        :desc="item.shopName"
        :title="item.productName"
        :thumb="item.img"
        v-for="(item,i) in cartList"
        :key="i"
      >
        <template #tags>
          <van-tag plain type="danger" style="margin-right:6px;">七天退换</van-tag>
          <van-tag plain type="danger">退货无忧</van-tag>
          <van-button class="delete-btn" type="info" native-type="submit" color="rgb(255, 129, 152)" @click="deleteCart(item.productId)">删除</van-button>
          <van-checkbox @click="changeCheck" v-model="item.isCheck" checked-color="#ff8198"></van-checkbox>
        </template>
        <template #footer></template>
      </van-card>
      <cart-bottom-bar :calcCount="total" :totalPrice="totalPrice" @toSettlement="toSettlement"></cart-bottom-bar>
    </div>
    <div v-else>
      <van-empty description="购物车为空" />
    </div>
  </div>
</template>

<script>
import Vue from "vue";
import { Empty } from "vant";
import { Toast } from "vant";
import { Checkbox, CheckboxGroup } from "vant";

Vue.use(Checkbox);
Vue.use(CheckboxGroup);

Vue.use(Toast);
Vue.use(Empty);

import cookie from "../../plugins/cookie";

import MainTabBar from "components/content/tabbar/MainTabBar";
import CartBottomBar from "./childComs/CartBottomBar";
export default {
  name: "Cart",
  data() {
    return {
      cartList: [],
      isCart: false, // 判断是否已登录
      total: 0,
      totalPrice: 0,
      isAddress: false,
      count: 0
    };
  },
  components: {
    MainTabBar,
    CartBottomBar
  },
  methods: {
    getAddress() {
      this.$fetch.api_address
        .getAddressById({ cookieId: cookie.getCookie("beautyId") })
        .then(res => {
          if (res.length !== 0) {
            this.isAddress = true;
          }
        });
    },
    changeCheck() {
      this.count++;
      this.totalPrice = 0;
      this.total = 0;
      this.cartList.map(item => {
        if (item.isCheck === true) {
          this.totalPrice += parseInt(
            item.productPrice.replace("¥", "") * item.count
          );
          this.total += item.count;
        }
      });
    },
    toSettlement() {
      let beautyId = cookie.getCookie("beautyId");
      this.cartList.map(item => {
        if (item.isCheck === false) {
          return;
        }
        if (this.isAddress) {
          let params = {
            productId: `${item.productId}`,
            cookieId: `${beautyId}`,
            productName: `"${item.productName}"`,
            productPrice: `"${item.productPrice}"`,
            shopName: `"${item.shopName}"`,
            img: `"${item.img}"`,
            count: `${item.count}`
          };
          this.$fetch.api_settlement
            .addOrderList(params)
            .then(res => {
              if (res.success) {
                Toast.success(res.message);
                this.$router.replace('/order');
              } else {
                Toast.fail("购买失败");
              }
            })
            .catch(() => {
              Toast.fail("购买失败");
            });
        } else {
          Toast.fail("请先添加地址");
        }
      });
    },
    deleteCart(productId) {
      this.$fetch.api_cart
      .deleteCartList({ cookieId: cookie.getCookie("beautyId"),productId:productId})
      .then(res => {
        if (res.success === true) {
          Toast.success("删除成功");
          this.$fetch.api_cart
          .getCartList({ cookieId: cookie.getCookie("beautyId") })
          .then(res => {
            if (res.length !== 0) {
              this.isCart = true;
              this.cartList = res;
              res.map(item => {
                item.isCheck = true;
                this.totalPrice += parseInt(
                  item.productPrice.replace("¥", "") * item.count
                );
                this.total += item.count;
              });
            }
          });
        } else {
          Toast.fail("删除失败");
        }
      });
    }
  },
  created() {
    this.getAddress();
    this.$fetch.api_cart
      .getCartList({ cookieId: cookie.getCookie("beautyId") })
      .then(res => {
        if (res.length !== 0) {
          this.isCart = true;
          this.cartList = res;
          res.map(item => {
            item.isCheck = true;
            this.totalPrice += parseInt(
              item.productPrice.replace("¥", "") * item.count
            );
            this.total += item.count;
          });
        }
      });
  }
};
</script>

<style lang="scss">
#cart {
  .van-checkbox__icon {
    position: absolute;
    right: 0;
  }
  .title {
    padding: 16px 8px 0 16px;
    font-size: 14px;
    color: #222;
    font-weight: bold;
  }
  .cart-wrapper {
    height: calc(100vh - 136px);
    overflow: scroll;
  }
  .delete-btn {
    position: absolute;
    right: 40px;
    top: 44px;
    height: 30px;
    line-height: 30px;
  }
}
</style>